.AddManager {
    padding: 8px;
    .container1{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        justify-content: space-between;
    }
    .addContainer {
        margin: 15px 0 20px 0;
        .close{
            cursor: pointer;
        }
        .head {
            font-size: 20px;
            font-weight: 700;
        }
        .searchManager {
            .searchManagers {
                width: 400px;
                height: 56px;
                font-size: 18px;
                font-weight: 700;
                box-sizing: border-box;
                padding: 8px;
                border-radius: 8px;
                background-color: rgba(244, 244, 244, 1);
                margin-bottom: -8px;
            }
            .manager {
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                padding: 8px;
            }
            .results {
                width: 400px;
                background-color: white;
                display: none;
                padding: 8px;
                box-sizing: border-box;
                background-color: rgba(244, 244, 244, 1);
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;

                p {
                    font-size: 18px;
                }
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: end;
        button {
            margin: 8px 4px;
        }
    }
}
