@import "../../app/styles/index.scss";

.HeaderBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.BottomRight {
    height: 56px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    left: 365px;
    top: 24px;
}

.SecondRight {
    display: flex;
    gap: 16px;
    align-items: center;
}

.ButtonRequest {
    width: 208px;
    height: 56px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: $blue;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
