@import "index.scss";

.UsersList {
    margin-top: 20px;
}

.Top {
    width: 1718px;
}

.Users {
    width: 1760px;
    height: 560px;
    overflow-x: hidden;
}

.Bottom {
    margin-top: 16px;
    width: 1718px;
    height: 76px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BottomRight {
    position: absolute;
    right: 0;
    top: 22px;
    font-size: 18px;
    font-weight: 700;
}

.Pagination {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Nothing {
    width: 1718px;
    height: 500px;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    color: $black71;
    justify-content: center;
    align-items: center;
}
