@import "../../../../app/styles/index.scss";

.UsersMap {
    width: 1738px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
        margin-inline: 16px;
    }
    &:hover {
        background-color: $blackde;
    }
}