@import "../../../app/styles/index.scss";

.Profile {
    cursor: pointer;
    width: 200px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 16px;
    background: none;
    border: none;
}

.ProfileImage {
    width: 34px;
    height: 34px;
}

.ProfileWord {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    background: none;
    border: none;
}
