@import "../../../app/styles/index.scss";

.ViewUser {
    width: 560px;
    display: flex;
    padding: 24px 0;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    .TextTop {
        font-size: 32px;
        font-weight: 700;
    }
}

.Top {
    display: flex;
    justify-content: space-between;
}

.Text {
    font-size: 18px;
    font-weight: 700;
}

.Text2 {
    font-size: 16px;
    font-weight: 500;
    color: $black;
}

.UserRole {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.AddPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 204px;
    height: 186px;
    border-radius: 8px;
    background-color: $blackf4;
    text-align: center;
    cursor: pointer;
}

.Description {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.Login {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.AddRole {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.Buttons {
    display: flex;
    justify-content: start;
    gap: 16px;
}
