@import "../../app/styles/variables.scss";

.ButtonRequest {
    width: 208px;
    height: 56px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: $blue;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
