@import "index.scss";

.CheckList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    .InputEnter {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
}

.Header {
    width: 580px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blackf4;
    border-radius: 8px;
    gap: 340px;
    .HeaderLeft {
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
    }
    button {
        width: 100px;
        height: 30px;
        font-size: 16px;
        font-weight: 700;
        color: $black5c;
        border-radius: 8px;
        border: 1px solid $black3b;
    }
}

.InputRelative {
    position: relative;
    .CheckAbsolute {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 16px;
        top: 10px;
        cursor: pointer;
    }
    .CloseSquare {
        position: absolute;
        top: 10px;
        left: 540px;
    }
}

.NotChecked {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 16px;
    top: 10px;
    border-radius: 8px;
    border: 2px solid $blackde;
}

.Checked {
    position: absolute;
    left: 16px;
    top: 10px;
    cursor: pointer;
}

.CheckDesc {
    display: flex;
    justify-content: center;
    gap: 16px;
    input {
        width: 130px;
        height: 44px;
        background-color: $blackf4;
        padding-left: 16px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        border-radius: 8px;
        background-color: $blackf4;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}
