.DetailsAplication{
    .pan{
        display: flex;
        font-size: 18px;

        .names{
            font-weight: 500;
            color: #5C5C5C;
            div{
                padding: 8px 12px;
            }
        }
        .datas{
            font-weight: 700;
            div{
                padding: 8px 14px;
            }
        }
    }
}