@import "../../../app/styles/index.scss";

.DropDown {
   width: 416px;
   height: 56px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 8px;
   background-color: rgba(37, 37, 37, 0.05);
   color: black;
   border: none;
   font-weight: 500;
   .Title {
      padding-left: 20px;
   }
   .Drop {
      padding-right: 20px;
   }
}
