.ChangePassword {
    position: fixed;
    width: 572px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: white;

    .block {
        width: 452px;
        padding: 40px 0;
        box-sizing: border-box;

        .block1 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            .h1 {
                font-size: 24px;
                font-weight: 700;
                margin-left: 15px;
            }
            .close {
                margin-right: 10px;
            }
        }
        .block2 {
            display: flex;
            margin-left: 20px;
            .input {
                .inputs {
                    display: flex;
                    height: 26px;
                    align-items: center;
                    margin: 25px 0px;
                    input {
                        padding: 0 8px;
                        padding-right: 70px;
                    }
                    .img {
                        position: absolute;
                        right: 100px;
                    }
                }
            }
            .labels {
                display: flex;
                flex-direction: column;
                width: 171px;
                margin-top: 2px;
                text-align: right;
                padding-right: 8px;
                label {
                    margin: 15px 0;
                    height: 26px;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
        .buttons {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
        }
    }
}
