.ChangePassword {
    position: fixed;
    width: 592px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 8px;

    .block {
        width: 472px;
        padding: 40px 0;
        box-sizing: border-box;

        .block1 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            .h1 {
                font-size: 32px;
                font-weight: 700;
                margin-left: 15px;
            }

            .close {
                margin-right: 10px;
            }
        }

        .block2 {
            display: flex;
            margin-left: 20px;
            margin-top: -16px;

            .input {
                .inputs {
                    display: flex;
                    align-items: center;
                    margin: 25px 0px;

                    input {
                        padding: 0 8px;
                        padding-right: 70px;
                        height: 36px;

                    }

                    .img {
                        position: absolute;
                        right: 70px;
                    }
                }
            }

            .labels {
                display: flex;
                flex-direction: column;
                width: 200px;
                margin-top: 10px;
                text-align: right;
                padding-right: 22px;

                label {
                    margin: 15px 0;
                    height: 26px;
                    font-size: 18px;
                    font-weight: 500;
                    color: rgba(92, 92, 92, 1);
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
        }
    }

    .error {
        background-color: rgba(244, 244, 244, 1);
        padding: 16px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(229, 22, 22, 1);
        display: none;

        .errorBlock {
            display: flex;
            align-items: center;
            width: 100%;

            div {
                padding-left: 16px;
            }
        }


    }
}