@import "../../../app/styles/index.scss";

.CreateUser {
    width: 700px;
    height: 684px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 70px;
    margin-right: 70px;

    .TextTop {
        font-size: 32px;
        font-weight: 700;
    }
}
.Top {
    display: flex;
    justify-content: space-between;

    .Close {
        cursor: pointer;
    }
}

.Text {
    font-size: 18px;
    font-weight: 700;
}
.Text2 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: $black;
}

.AddPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 204px;
    height: 186px;
    margin-right: 16px;
    border-radius: 8px;
    background-color: $blackf4;
    text-align: center;
}

.Description {
    display: flex;
    justify-content: space-between;
    height: 190px;
    width: 560px;
}

.Login {
    display: flex;
    justify-content: space-between;
}

.AddRole {
    display: flex;
    justify-content: space-between;
}

.Buttons {
    display: flex;
    justify-content: space-between;
    width: 316px;
    cursor: pointer;
}
