@import "../../../app/styles/index.scss";

.DateContainer {
    width: 291px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    .Text {
        font-size: 18px;
        font-weight: 700;
    }
    input {
        border: none;
        font-size: 16px;
        font-weight: 500;
        border-radius: 8px;
        height: 44px;
        background-color: $blackf4;
        padding-left: 16px;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

