@import "../../../app/styles/index.scss";

.ReadyModal {
    display: flex;
    width: 550px;
    height: 410px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: white;
    p {
        color: #252525;
        font-size: 24px;
        font-weight: 700;
    }
    .Container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
    }
    .BtnCont {
        display: flex;
        gap: 16px;
        margin-top: 10px;
        button {
            border: none;
        }
        .BtnYes,
        .BtnNo {
            display: flex;
            width: 100px;
            padding: 10px 16px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            color: white;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
        }
        .BtnYes {
            background-color: $blue;
        }
        .BtnNo {
            background-color: #e51616;
        }
    }
}
