.Buttons {
    margin-top: 10px;

    button {
        display: flex;
        width: 200px;
        height: 56px;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        margin: 4px;
        border-radius: 8px;
        font-weight: 700;
    }

    .white {
        border: none;
        background-color: white;
        color: #1c6ab1;
    }
    .blue {
        border: #1c6ab1;
        background-color: #1c6ab1;
        color: white;
    }
}
