@import "index.scss";

.RequestMenu {
    width: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: $blackf4;
}

.Active,
.NotActive {
    cursor: pointer;
    width: 56px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.Active {
    background-color: $blue;
    svg {
        color: white;
    }
}
