.inputName{
    width: 416px;
    height: 56px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    background-color:rgba(37, 37, 37, 0.05);
    font-size: 18px;
    border: none;
    .dataText{
        padding: 15px;
        font-weight: 500;
    }
}

.inputLink{
    width: 560px;
    height: 56px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    background-color:rgba(37, 37, 37, 0.05);
    font-size: 18px;
    border: none;
    .dataText{
        font-weight: 500;
        padding: 15px;
    }
}

