@import "../../app/styles/index.scss";

.DataNumber {
   width: 424px;
   height: 57px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 700;
   font-size: 20px;
   line-height: 25px;
}

.Line {
   height: 25px;
   width: 1px;
   background: $black;
}

.Notification {
   width: 34px;
   height: 34px;
   position: relative;
}

.NotifNumber {
   color: white;
   position: absolute;
   right: -2px;
   top: -2px;
   width: 20px;
   height: 20px;
   border-radius: 100%;
   background-color: #00a91b;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
}

.Profile {
   width: 200px;
   height: 56px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-inline: 16px;
}

.ProfileImage {
   width: 34px;
   height: 34px;
}

.ProfileWord {
   font-weight: 700;
   font-size: 20px;
   line-height: 25px;
}

.Filter {
   width: 414px;
   height: 56px;
   display: flex;
   position: relative;
}

.Time {
   width: 138px;
   height: 54px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
}

.Border {
   position: absolute;
   width: 138px;
   height: 2px;
   background-color: $blue;
   left: 0;
   bottom: 0;
}

.Search {
   position: relative;
   width: 600px;
   height: 56px;
   margin-left: 177px;
   display: flex;
   & svg {
      position: absolute;
      z-index: 2;
      top: 16px;
      left: 16px;
      width: 24px;
      height: 24px;
   }
}

.SearchInput {
   width: 450px;
   height: 53px;
   border-radius: 8px 0 0 8px;
   border: none;
   padding-left: 56px;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   background-color: $background;
}

.SearchButton {
   width: 150px;
   height: 56px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   border-radius: 0 8px 8px 0;
   border-left: 1px solid $blackde;
   border-top: none;
   border-bottom: none;
   border-right: none;
   background-color: $background;
   color: $blue;
}

.FilterIcon {
   width: 56px;
   height: 56px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: $blue;
   margin: 0 20px;
   border-radius: 8px;
}

.Report {
   width: 289px;
   height: 56px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: $blue;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   border-radius: 8px;
   border: 1px solid $blue;
}
