@import "index.scss";

.ResetPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 30px 0;
}

.Item {
    width: 432px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header {
    font-size: 32px;
    font-weight: 700;
}

.Text {
    font-size: 18px;
    font-weight: 500;
}

.Inputs {
    width: 432px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Input {
    width: 432px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Input div {
    width: 237px;
    height: 66px;
    position: relative;
    svg {
        position: absolute;
        top: 16px;
        left: 203px;
    }
}
