.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
    font-weight: 500;
}


.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    border-radius: 8px;
    background-color: #eee;
}


.container:hover input ~ .checkMark {
    background-color: #ccc;
}


.container input:checked ~ .checkMark {
    background-color: #2196F3;
}


.checkMark:after {
    content: "";
    position: absolute;
    display: none;
    border: 1px;
    border-color: black;
}


.container input:checked ~ .checkMark:after {
    display: block;
}


.container .checkMark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
