@import "../../../app/styles/index.scss";

.NotificationModalWindow {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: $blackde;
    transition: all 0.3s;

    .Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        padding: 50px 50px 50px 60px;
        width: 530px;
        height: 430px;
        background: #ffffff;
        position: absolute;
        top: 100px;
        overflow: hidden;
        
        transition: all 0.3s;
        box-shadow: 0px 1px 20px 0px rgba(22, 22, 22, 0.15);
        .ContentBlock {
            position: relative;
            width: 114%;
            // height: 730px;
            display: flex;
            align-items: center;
            flex-direction: column;
            overflow-x: hidden;
            .InerCont{
                width: 512px;
            }
        }
        .HeaderNotification {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 500px;
            height: 40px;
            // padding-right: 20px;
            // margin-right: 35px;
            .NotifactionHeaderH3 {
                display: flex;
                align-items: center;
                font-family: Geometria;
                color: #252525e5;
                font-weight: 700;
                font-size: 32px;
                line-height: 40.26px;
                // width: 100%;
                height: 80px;
                background: #ffffff;
                text-align: left;
            }
        }
    }
    
}
