.Menedjer {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin: 10px 0;
    box-shadow: 0px 1px 20px 0px rgba(22, 22, 22, 0.15);
    .M {
        .p1 {
            font-size: 18px;
            line-height: 23px;
        }

        .p2 {
            font-size: 14px;
            line-height: 18px;
            color: var(---800, #1c6ab1);
            font-weight: 700;
        }
    }
}
