@import "../../../app/styles/index.scss";

.Report {
    cursor: pointer;
    width: 289px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border-radius: 8px;
    border: 1px solid $blue;
}

.ReportNone {
    display: none;
}
