.FilesList {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 16px;
    .OtherFiles {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .OtherFile {
            box-sizing: border-box;
            width: 100%;
            padding: 0 10px;
            height: 52px;
            border-radius: 8px;
            background-color: white;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    .Images {
        width: 100%;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        img {
            width: 176px;
            height: 176px;
            border-radius: 8px;
        }
    }
}