.Button {
    width: 200px;
    height: 50px;
    padding: 16px, 24px, 16px, 24px;
    border-radius: 8px;
    border: 1px solid #1C6AB1;
    font-size: 18px;
    margin: 5px 0;
}

.blue{
    background-color: #1C6AB1;
    color: white;
}
.white{
    background-color: white;
    color: #1C6AB1;
}