@import "index.scss";

<<<<<<< HEAD
.OneComment {
    background-color: $blackf4;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    color: $black3b;
    margin-bottom: 10px;
=======
.Comments {
    background-color: $blackf4;
    border-radius: 10px;
}

.OneComment {
    padding: 15px;
    font-size: 16px;
    color: $black3b;
>>>>>>> ced31a6d8c3e35c1f8e310ee2026f58a7f9b5acc
    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .HeaderLeft {
            display: flex;
            gap: 16px;
            font-size: 16px;
            font-weight: 700;
<<<<<<< HEAD
=======
            img {
                width: 34px;
                height: 34px;
                border-radius: 50%;
                border: none;
                background-color: blue;
            }
        }
        .HeaderRight {
            display: flex;
            align-items: center;
            gap: 7px;
            .Date {
                font-size: 14px;
                text-align: right;
            }
>>>>>>> ced31a6d8c3e35c1f8e310ee2026f58a7f9b5acc
        }
    }
    .Comment {
        padding: 16px 0;
    }
<<<<<<< HEAD
    .Date {
        font-size: 14px;
        text-align: right;
    }
=======
>>>>>>> ced31a6d8c3e35c1f8e310ee2026f58a7f9b5acc
}

.MoreButtons {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Button {
        height: 41px;
        background: none;
        border: none;
        color: $blue;
        font-weight: 700;
        font-size: 14px;
    }
}
