@import "../../../app/styles/index.scss";

.Positions {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.Name {
    font-size: 24px;
    font-weight: 700;
}

.Input {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 20px 0;
}

.PositionsList {
    width: 380px;
    overflow-x: hidden;
    .Inner {
        width: 350px;
        height: auto;
        box-shadow: 0px 1px 20px 0px #16161626;
    }
}
