.FilterButton {
    background: none;
    border: none;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FilterButtonOpen {
    background: #1c6ab1;
    border: none;
    width: 56px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
