.bodyAll {
   width: 1738px;
   margin-left: 100px;
   display: flex;
}

.bodyRequest {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

.Header {
   margin-left: 1487px;
   margin-top: 48px;
   width: 254px;
   height: 56px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
