.bodyAll{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1920;
    height: 2300;
    display: flex;
    margin-left: 100px;
    margin-bottom: 200px;
}

.menu{
    width: 270px;
}
.bodyRequest{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Header{
    margin-left: 1267px;
    margin-top: 48px;
}
