@import "index.scss";

.ProfileModal {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 50px;
    .Header {
        display: flex;
        justify-content: space-between;
        font-size: 32px;
        width: 335px;
        font-weight: 700;
    }
    .Inner {
        display: flex;
        font-size: 16px;
        gap: 24px;
        .Name {
            font-weight: 500;
            color: $black5c;
            display: flex;
            flex-direction: column;
            gap: 16px;
            .Avatar {
                display: flex;
                align-items: center;
                width: 100px;
                height: 100px;
            }
            p {
                width: 96px;
                height: 32px;
            }
        }
        .Data {
            font-weight: 700;
            display: flex;
            flex-direction: column;
            gap: 16px;
            color: $black;
            .Image {
                width: 100px;
                height: 100px;
                background-color: blue;
                border-radius: 21px;
            }
            p {
                height: 32px;
            }
            .ColorBlue {
                color: $blue;
            }
            .ChangeButton {
                font-size: 16px;
                font-weight: 700;
                color: $blue;
                border: none;
                background: none;
                text-align: left;
                background-color: rgba(244, 244, 244, 1);
                height: 32px;
                padding: 0 24px;
                border-radius: 8px;
            }
        }
    }
    .Buttons {
        gap: 24px;
        display: flex;
        justify-content: end;
        .EditButton {
            width: 55px;
            height: 55px;
            background-color: $blue;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 8px;
        }
    }
    input[type="file"] {
        position: absolute;
        width: 100px;
        height: 100px;
    }
    input[type="file"]::-webkit-file-upload-button {
        background-color: rgba(0, 255, 255, 0);
        width: 100px;
        height: 100px;
        border-radius: 21px;
        color: rgba(255, 0, 0, 0);
    }
    
}
