.ProfileModal {
    width: 434px;
    .block1 {
        display: flex;
        justify-content: space-between;
        .h1 {
            font-size: 32px;
            font-weight: 700;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            font-size: 18px;
            font-weight: 500;
            height: 35px;
            padding: 5px 0;
            img {
                height: 34px;
                width: 34px;
                border-radius: 50px;
            }
            input {
                padding: 0;
                border: none;
                height: 25px;
                padding: 0 7px;
                width: 237px;
                background-color: #f4f4f4;
                border-radius: 4px;
                &:active {
                    border: none;
                }
            }
            .btn {
                height: 34px;
                width: 100%;
                border: none;
                padding: 7px;
                font-size: 18px;
                font-weight: 500;
                border-radius: 4px;
                color: #1c6ab1;
            }
        }
        &:nth-child(1) {
            text-align: right;
            margin-right: 20px;
        }
    }
    .datas {
        display: flex;
        padding: 30px 0;
        margin-left: 20px;
    }
    .button {
        display: flex;
        justify-content: center;
    }
}
