@import "../../../app/styles/index.scss";

.Input {
    padding-right: 25px;
    padding-left: 25px;
    color: $black5c;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background-color: $blackf4;
    height: 56px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.blackPlaceholder::placeholder {
    color: black;
}

.redPlaceholder::placeholder {
    color: red;
}
.placeholder-error::placeholder{
    color: #e51616;
}