@import "../../../app/styles/index.scss";

.Input {
    padding-right: 25px;
    padding-left: 25px;
    box-sizing: border-box;
    color: $black5c;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background-color: $blackf4;
    height: 56px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
