@import "index.scss";

.DatesContainer {
    width: 580px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    .Dates {
        display: flex;
        justify-content: center;
        gap: 16px;
        .Inner {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
        }
    }
}

