.Report {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
=======
    width: 56px;
    height: 56px;
    background: #1C6AB1;
    border-radius: 8px;
>>>>>>> ced31a6d8c3e35c1f8e310ee2026f58a7f9b5acc
}
