@import "../../app/styles/index.scss";

.HeaderTop {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $blackde;
}

.HeaderTopInner {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderLogo {
    width: 745px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DataProfile {
    width: auto;
    height: 56px;
    gap: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Login {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c6ab1;
}

.HeaderBottom {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.BottomRight {
    width: 1455px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 365px;
    top: 0;
}

.SecondRight {
    display: flex;
    gap: 16px;
    align-items: center;
}
