.FormSearch {
    display: flex;
    flex-direction: column;
    align-items: start;

    // background: #0000002c;
    .DateInputBlock{
        margin-top: 40px;
        
    }
    .Input {
        width: 415px;
        height: 56px;
        font-size: 25px;
        padding: 16px 24px;
        border-radius: 8px;
        border: none;
        color: #5C5C5C;
        background: #F4F4F4;
        margin-top: 10px;
    }

    .InputDate {
        color: black;
        width: 415px;
        height: 56px;
        font-size: 25px;
        padding: 16px 24px;
        border-radius: 8px;
        border: none;
        color: #5C5C5C;
        background: #F4F4F4;
    }

    p {
        color: var(---800, #252525);
        /* Desktop/Body XL/600 */
        font-family: Geometria;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0;
    }
}