@import "index.scss";

.ShortDescription {
<<<<<<< HEAD
    width: 548px;
    flex: 18px;
    font-weight: 500;
    background-color: $blackf4;
    padding: 16px;
    border-radius: 8px;
=======
    position: relative;
    width: 580px;
    height: 100px;
    p {
        color: $black5c;
        font-weight: 500;
        font-size: 12px;
        position: absolute;
        bottom: 4px;
        right: 4px;
    }
>>>>>>> ced31a6d8c3e35c1f8e310ee2026f58a7f9b5acc
}
