@import "index.scss";

.ShortDescription {
    position: relative;
    width: 580px;
    height: 100px;
    p {
        color: $black5c;
        font-weight: 500;
        font-size: 12px;
        position: absolute;
        bottom: 4px;
        right: 4px;
    }
}
