@import "index.scss";

.ShortDescription {
    width: 580px;
    height: 100px;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: $blackf4;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    div {
        color: $black5c;
    }
    p {
        bottom: 10px;
        right: 10px;
        position: absolute;
    }
}
