@import "../../../app/styles/index.scss";

.Users {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.UsersSearch {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    div {
        font-size: 24px;
        font-weight: 700;
    }
}
.Search {
    display: flex;
    justify-content: space-between;
}
