.newNotificationCont{
    margin-top: 6%;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    .newNotificationContH4{
        width: 100%;
        text-align: left;
        .headerH4NewNotification{
            color: #00A91B;
            font-size: 24px;
            line-height: 30px;
            font-weight: 700;
        }
        .headerH4NewNotification2{
            color: #252525E5;
            font-size: 24px;
            line-height: 30px;
            font-weight: 700;
        }
    }
}