.Item {
   width: 1575px;
   height: 56px;
   display: flex;
   align-items: center;
   &:hover {
      background-color: rgb(237, 237, 237);
   }
}

.Number,
.Company,
.Name,
.Description,
.Person,
.Manager,
.Begin,
.End {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 500;
   font-size: 16px;
}

.Number {
   width: 160px;
}

.Company {
   width: 124px;
}

.Name {
   width: 240px;
}

.Description {
   width: 200px;
}

.Person {
   width: 128px;
}

.Manager {
   width: 174px;
}

.Begin {
   width: 150px;
}

.End {
   min-width: 177px;
   max-width: 180px;
}

.Level {
   width: 122px;
   height: 46px;
   color: #e51616;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 500;
   font-size: 16px;
   border: 1px solid #ff2121;
}

.Status {
   margin-left: 3px;
   width: 92px;
   height: 46px;
   color: #27e617;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 500;
   font-size: 16px;
   border: 1px solid #27e617;
}
