@import '../../../app/styles/index.scss';

.CheckList{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    .InputEnter{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
}
