@import '../../../app/styles/index.scss';

.Text {
    font-size: 18px;
    font-weight: 700;
}

.DatesContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    .Dates{
        display: flex;
        justify-content: space-between;
        .Dates1,
        .Dates2{
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 16px;
        }
    }
    .PayContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        .Pay{
            width: 300px;
            height: 60px;
            display: flex;
            justify-content: space-between;
            .UniPay {
                display: flex;
                justify-content: space-between;
                input {
                    width: 28px;
                    height: 28px;
                }
            }
            
        }
    }   
    
    
    
    .Text2 {
        font-size: 20px;
        font-weight: 500;
        color: $black3b;
    }
}