@import '../../../app/styles/index.scss';

.Details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    .Text {
        font-size: 18px;
        font-weight: 700;
    }
    .Name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .StatusRequest{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}