.Container {
    z-index: 2;
    position: fixed;
    top: 20%;
    left: 25%;
    width: 990px;
    height: 419px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.171);
    display: flex;
    justify-content: center;
    padding:70px;
    gap: 40px;
    
    button{
        position: absolute;
        width: 300px;
        font-size: 25px;
        background: rgba(28, 30, 177, 0);
        bottom: 30px;
        right: 30px;
        color: #1C6AB1;
        border: 2px solid #1C6AB1;
        transition: all 0.3s;
    }
    button:hover{
        position: absolute;
        width: 300px;
        font-size: 25px;
        background: #1C6AB1;
        bottom: 30px;
        right: 30px;
        color: #ffffff;
        border: 2px solid #1C6AB1;
    }
    p{
        font-size: 25px;

    }
}

