@import "index.scss";

.Description {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
}

.Main {
    width: 548px;
    border-radius: 8px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blackf4;
    padding: 16px 16px 0 16px;
    & ::-webkit-file-upload-button {
        visibility: hidden;
    }
}

.FileInput {
    position: absolute;
    z-index: 3;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    color: transparent;
    cursor: pointer;
}

textarea {
    resize: none;
    width: 100%;
    height: auto;
    background: none;
    padding: 10px 0;
    border: none;
    outline: none;
}

.Text {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    p {
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        text-align: left;
    }
}

.Buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}
