@import "../../app/styles/index.scss";

.RequestInner {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
}
