@import "index.scss";

.ViewRequest {
    width: 698px;
    position: relative;
    transition: 0.1s;
    display: flex;
    gap: 14px;
    width: 698px;
    height: 820px;
    overflow-y: hidden;
    position: relative;
}

.Main {
    height: 700px;
    overflow-y: scroll;
}
