@import "index.scss";

.ButtonCreate {
    cursor: pointer;
    height: 56px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: $blue;
    padding: 16px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    height: 56px;
}
