.CreateCompany {
    width: 660px;
    // height: 539px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;

    .blockOne {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 32px;
        font-weight: 700;
        margin: 30px;
    }

    .AddUser {
        margin-left: 40px;
        display: flex;
        width: 272px;
        height: 56px;
        padding: 16px 24px;
        align-items: center;
        justify-content: space-around;
        gap: 16px;
        display: flex;
        color: var(---800, #1C6AB1);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 8px;
        background: var(---100, #F4F4F4);
        border: none;
    }

    .Label {
        color: var(---600, #5C5C5C);

        /* 1920/Body L/700 */
        font-family: Geometria;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .blockTwo {
        display: flex;
        justify-content: space-between;
        margin: 30px;

        label {
            font-size: 18px;
            font-weight: 700;
            padding: 8px;
        }
    }

    .buttons {
        width: 316px;
        display: flex;
        justify-content: space-between;
        margin: 30px 40px;
    }
}