.ViewCompany {
    width: 660px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;

    .arrow {
        transform: rotate(0);
        transition: transform .2s ease-in;
    }

    .blockOne {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 32px;
        font-weight: 700;
        margin: 30px;
    }

    .AddUser {
        margin-left: 40px;
        display: flex;
        width: 272px;
        height: 56px;
        padding: 16px 24px;
        align-items: center;
        justify-content: space-around;
        gap: 16px;
        display: flex;
        color: var(---800, #1c6ab1);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 8px;
        background: var(---100, #f4f4f4);
        border: none;
    }

    .Label {
        color: var(---600, #5c5c5c);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .blockTwo {
        display: flex;
        justify-content: space-between;
        margin: 30px;

        .blockTwoOne {
            width: 50px;
        }

        label {
            font-size: 18px;
            font-weight: 700;
            padding: 8px;
        }
    }

    .buttons {
        width: 660px;
        margin: 30px 40px;

        .buttonss {
            width: 326px;

            display: flex;
            justify-content: space-between;
            margin-left: 265px;
        }
    }

    .managers {
        display: flex;
        width: 476px;
        justify-content: space-between;
        padding: 0 16px;
        background-color: #F4F4F4;
        box-sizing: border-box;
        max-height: 200px;
        position: relative;
        top: -200px;
        transition: .2s;

        .manager {
            height: 56px;
            box-sizing: border-box;
            font-size: 18px;
            font-weight: 700;
        }
    }

    .mainManager {
        background-color: #F4F4F4;
        width: 476px;
        height: 56px;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 16px;
        border-radius: 8px;
    }

    .addManagers {
        background-color: #1C6AB1;
        width: 56px;
        height: 56px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        margin-left: 50px;
        margin-top: 20px;

    }

    .hintAdd {
        position: fixed;
        margin-left: 465px;
    }

    .hint {
        width: 184px;
        height: 60px;
        background-color: #929292;
        color: white;
        box-sizing: border-box;
        padding: 8px;
        font-size: 14px;
        border-radius: 8px;
        text-align: center;
        margin-top: -80px;
    }

    .tre {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #929292;
        position: relative;
        left: 90px;
    }
}