@import "index.scss";
body {
    background: var(---100, #f4f4f4);
}
.MenuCont {
    display: flex;
    justify-content: space-between;
    .ListCont {
        display: flex;
        gap: 30px;
    }
}
