@import "index.scss";

.RequestList {
    display: flex;
    justify-content: space-between;
}

.Inner {
    height: 616px;
    overflow-x: hidden;
}

.Nothing {
    width: 100%;
    height: 500px;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    color: $black71;
    justify-content: center;
    align-items: center;
}

.Bottom {
    position: relative;
}

.ItemCount {
    width: 370px;
    height: 23px;
    position: absolute;
    top: 26px;
    right: 0;
}
