@import "index.scss";

.UsersBottom {
    margin-top: 16px;
    height: 76px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BottomRight {
    position: absolute;
    right: 0;
    top: 22px;
    font-size: 18px;
    font-weight: 700;
}

.Pagination {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.Primary,
.Secondary,
.More,
.PaginationButton {
    width: 56px;
    height: 56px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.Primary {
    border-radius: 8px;
    color: white;
    background-color: $blue;
}

.Secondary {
    color: black;
    background: none;
}

.More {
    color: $blacka8;
}
