@import "index.scss";

.User {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid $black92;
    cursor: pointer;
    div {
        margin-inline: 16px;
    }
    &:hover {
        background-color: $hover;
    }
}
