@import "../../../app/styles/index.scss";

.Primary,
.Secondary {
    display: flex;
    justify-content: center;
    height: 56px;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.Primary {
    background-color: $blue;
    color: white;
}

.Secondary {
    background-color: white;
    color: $blue;
    border: 1px solid $blue;
}

.Request,
.Application {
    cursor: pointer;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    border-radius: 8px;
}

.Application {
    background-color: $blackde;
    color: $blue;
    border: none;
}

.Request {
    background-color: $blue;
    color: white;
}
