.MenuCont {
    display: flex;
    gap: 30px;
    .SettingsBtn {
        position: absolute;
        top: 20px;
        right: 24px;
        button {
            display: inline-flex;
            height: 56px;
            padding: 16px;
            justify-content: center;
            align-items: center;
            gap: 16px;
            flex-shrink: 0;
            border-radius: 8px;
            background: var(---800, #1c6ab1);
            color: var(---White, #fff);
            text-align: center;
            border: none;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}
