.MenuCont {
    width: 450px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    .HeaderPrg {
        p {
            color: var(---800, #252525);
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0;
        }
    }
    .ListItem {
        display: flex;
        width: 418px;
        padding: 16px;
        align-items: flex-start;
        gap: 16px;
        border-radius: 8px;
        // background: var(---100, #f4f4f4);
        background: #fff;
        input {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
        }
        p {
            color: var(---700, #3b3b3b);
            margin: 0;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}
