@import "index.scss";

.Details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    .Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ContainerSelect {
        display: flex;
        justify-content: space-between;
        .Text {
            box-sizing: border-box;
            padding-top: 12px;
        }
    }
    .Text {
        font-size: 18px;
        font-weight: 700;
    }
}
