.CreateCompany {
    width: 660px;
    height: 539px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;
    p{
        font-size: 16px;
        color: #E51616;
        margin: 0 40px;
    }
    .blockOne {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 32px;
        font-weight: 700;
        margin: 30px;
    }
    .blockTwo {
        display: flex;
        justify-content: space-between;
        margin: 30px;
        label {
            font-size: 18px;
            font-weight: 700;
            padding: 8px;
        }
    }
    .buttons {
        width: 316px;
        display: flex;
        justify-content: space-between;
        margin: 30px 40px;
    }
}
