.CreateCompany {
    width: 660px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;

    .select {
        width: 488px;
        height: 56px;
        font-size: 18px;

        option {
            font-size: 16px;
            width: 300px;
        }
    }

    p {
        font-size: 16px;
        color: #E51616;
        margin: 0 40px;
    }

    .blockOne {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 32px;
        font-weight: 700;
        margin: 30px;
    }

    .blockTwo {
        display: flex;
        justify-content: space-between;
        margin: 30px;

        label {
            font-size: 18px;
            font-weight: 700;
            padding: 8px;
            margin-bottom: 16px;
        }
    }

    .buttons {
        width: 316px;
        display: flex;
        justify-content: space-between;
        margin: 30px 40px;
    }

    .managers {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .addManagers {
            background-color: #1C6AB1;
            width: 56px;
            height: 56px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            margin-left: 50px;

        }
        
    }
    .addedManeger{
        .searchInput{
            height: 56px;
            border: none;
            border-radius: 8px;
            width: 488px;
            background-color: #F4F4F4;
            padding: 8px 16px;
            box-sizing: border-box;
            font-size: 18px;
            font-weight: 700;
            &:active{
                border: none;
            }
        }

    }
    .allManagers{
        width: 488px;
        margin: 0;
        box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.084);
        border-radius: 8px;
        padding: 0 16px;
        background-color: #F4F4F4;
        box-sizing: border-box;
        max-height: 132px;
        .manager{                   
            font-size: 18px;
            font-weight: 500;
            height: 44px;
            padding: 8px;
            box-sizing: border-box;
        }
    }
    .hintAdd{
        position: fixed;
        margin-left: 430px;
    }
    .hint {
        width: 184px;
        height: 60px;
        background-color: #929292;
        color: white;
        box-sizing: border-box;
        padding: 8px;
        font-size: 14px;
        border-radius: 8px;
        text-align: center;
        margin-top: -100px;
    }

    .tre {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #929292;
        position: relative;
        left: 130px;
    }
}