.RepModalWindow {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 721px;
    height: 456px;
    padding: 30px 70px;
    background-color: white;
    .CloseBtn {
        border: none;
        background: none;
        display: flex;
        justify-content: end;
    }
    .Header1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 711px;
        height: 40px;
        color: var(---800, #252525);
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .Header2 {
        color: var(---800, #252525);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 32px;
    }
    .Results {
        color: var(---800, #252525);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 82px;
        z-index: 0;
        position: relative;
    }
    .Form {
        width: 100%;
        height: 109px;
        margin-bottom: 20px;
    }
}
