.repModalWindow {
   display: inline-flex;
   padding: 50px 70px;
   flex-direction: column;
   align-items: flex-start;
   gap: 32px;
   width: 860px;
   height: 385px;
   z-index: 11;
   position: fixed;
   background: #ffffff;
   box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.089);
   border-radius: 8px;
   .CloseBtn {
      margin-right: -140px;
      border: none;
      background: none;
      display: flex;
      justify-content: end;
   }
   .header1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 720px;
      height: 40px;
      color: var(---800, #252525);
      /* 1920/Header/h3 */
      font-family: Geometria;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .header2 {
      color: var(---800, #252525);
      margin-top: 32px;
      /* 1920/Body M/600 */
      font-family: Geometria;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   .results {
      color: var(---800, #252525);
      /* 1920/Body XL/500 */
      font-family: Geometria;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }
   .form {
      width: 100%;
      height: 104px;
      display: flex;
      justify-content: center;
   }
}

.bg {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;

   z-index: 10;
   background: #00000038;
   display: flex;
   justify-content: center;
   align-items: center;
}
