@import "../../../../app/styles/index.scss";

.CheckList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.CheckContainer {
    display: flex;
    justify-content: space-between;
    .NameCheck {
        width: 580px;
        display: flex;
        justify-content: space-between;
    }
}

.DesContainer {
    display: flex;
    justify-content: space-between;
    .Description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        width: 540px;
        padding: 16px;
        background-color: $blackf4;
        border-radius: 8px;
        .Choose {
            width: 515px;
            display: flex;
            justify-content: space-between;
        }
        .BtnGroup {
            display: flex;
            justify-content: space-between;
            gap: auto;
            .Btn {
                display: flex;
                justify-content: center;
                gap: 16px;
            }
        }
    }
}
