@import "../../../../app/styles/index.scss";

.CommentsCtnr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    .Text {
        font-size: 18px;
        font-weight: 700;
    }
    .Comments {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
    }
}
