.Contact {
    margin-top: 10px;
    display: flex;
    width: 545px;
    padding: 16px;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background: var(---White, #fff);

    /* Desktop/Effect 1 */
    box-shadow: 0px 1px 20px 0px rgba(22, 22, 22, 0.15);

    p {
        color: var(---700, #3b3b3b);

        /* 1920/Body L/700 */
        font-family: Geometria;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        span {
            color: var(---800, #1c6ab1);

            /* 1920/Body L/500 */
            font-family: Geometria;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}
