@import "../../../app/styles/index.scss";

.FilterIcon {
   width: 56px;
   height: 56px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: $blue;
   margin: 0 20px;
   border-radius: 8px;
}
