@import "index.scss";

.OneCheckList {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 12px;
}

.SubTaskList {
    border-radius: 8px;
    background-color: $blackf4;
}

.Header {
    width: 560px;
    height: 44px;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    background-color: $blackf4;
    border-radius: 8px 8px 0 0;
    .HeaderLeft {
        display: flex;
        gap: 10px;
        color: $black5c;
        font-size: 18px;
        font-weight: 500;
    }
    button {
        width: 100px;
        height: 30px;
        font-size: 16px;
        font-weight: 700;
        color: $black5c;
        border-radius: 8px;
        border: 1px solid $black3b;
    }
    
}

.SubTask {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Left {
        display: flex;
        gap: 20px;
        p {
            color: var(---800, #252525);
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            
        }
    }
    .Right {
        align-items: center;
        display: flex;
        span {
            font-size: 14px;
            font-weight: 500;
            color: $blue;
        }
        div {
            align-items: center;
            display: flex;
            background-color: white;
            padding: 8px 16px;
            border-radius: 6px;
            margin-left: 10px;
            p {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}


