@import "index.scss";

.Text {
    font-size: 18px;
    font-weight: 700;
}

.Container {
    width: 590px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .TextTop {
        font-size: 24px;
        font-weight: 700;
        span {
            color: $blue;
        }
    }
}

.Buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.ant-collapse-content-box {
    border: none;
}

.ant-collapse-header {
    background-color: white;
}

.ant-collapse {
    border: none;
    box-shadow: none;
}

.ant-collapse-item {
    border-bottom: none;
}

:where(.css-dev-only-do-not-override-1ae8k9u).ant-collapse > .ant-collapse-item {
    border-bottom: none;
}

.ant-collapse-expand-icon {
    background-color: #f4f4f4;
    width: 14px;
    height: 24px;
    padding: 1px;
    margin: 0 16px;
}

.h1 {
    font-size: 32px;
    font-weight: 700;
}

span {
    font-size: 20px;
    font-weight: 700;
}
