@import "index.scss";

.ViewUserProfile {
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 700;
}

.Names {
    color: $black71;
    p {
        padding: 10px 0 10px 20px;
    }
    p:first-child {
        padding: 25px 0 25px 20px;
    }
}

.Data {
    color: $black;
    p {
        padding: 10px 20px 10px 0;
    }
    img {
        width: 70px;
        height: 70px;
        border-radius: 8px;
    }
}

.HeaderLeft {
    cursor: pointer;
    display: flex;
    gap: 16px;
    font-size: 16px;
    font-weight: 700;
    img {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: none;
        background-color: blue;
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.Date {
    color: #5c5c5c;
    font-weight: 500;
    font-size: 14px;
}
