.Avatar{
    width: 200px;
    height: 200px;
    background-color: #1c69b182;
    border-radius: 8px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    
    h2{
        padding: 40%;
        font-size: 60px;
        margin: 0;
    }
}