@import "../../../app/styles/index.scss";

.Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}
.Text {
    color: $black5c;
    font-size: 18px;
    font-weight: 700;
}
.Comments {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.CommentCtnr {
    align-items: center;
    text-align: start;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background-color: $blackf4;
    padding-left: 24px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
}

.ContainerComments {
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    background-color: $blackf4;
}
.CommentsCont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    .Profile {
        display: flex;
        justify-content: center;
        gap: 16px;
        .Avatar {
            width: 34px;
            height: 34px;
            border-radius: 50px;
            background-color: aquamarine;
        }
    }
    .AddMore {
        cursor: pointer;
        display: flex;
        justify-content: center;
        gap: 16px;
    }
}

.Comments2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}
.Comments3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}
