@import "../../../app/styles/index.scss";

.Search {
    position: relative;
    width: 278px;
    height: 56px;
    // margin-left: 337px;
    display: flex;
    border: 1px solid $blackde;
    border-radius: 8px;
    svg:first-child {
        position: absolute;
        z-index: 2;
        top: 16px;
        left: 16px;
    }
    .Close {
        position: absolute;
        z-index: 3;
        top: 16px;
        right: 16px;
    }
}

input {
    width: 278px;
    height: 53px;
    padding-left: 56px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background-color: none;
    border: none;
    border-radius: 8px;
}
