.MenedjerProfile {
    display: flex;
    width: 820px;
    justify-content: center;
    padding: 75px 0;
    margin: 0;
    position: absolute;
    right: 0;
    .close {
        position: absolute;
        right: 100px;
        top: 30px;
    }
}