.ChekcLists {
    .panel {
        height: 64px;
        display: flex;
        background-color: #f4f4f4;
        padding: 5px 8px;
        border-radius: 10px;
        margin: 8px 0;
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            input {
                width: 24px;
                height: 24px;
            }
        }
        .block1 {
            width: 280px;
            padding: 8px;
            p {
                padding-left: 12px;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .block2 {
            span {
                font-size: 14px;
                font-weight: 500;
                color: #1c6ab1;
            }
            div {
                background-color: white;
                padding: 8px 16px;
                border-radius: 6px;
                margin-left: 10px;
                p {
                    padding-left: 10px;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
        }
    }
}
