@import "../../../app/styles/variables.scss";

.NotifModal {
    width: 640px;
    height: 490px;
    display: flex;
    justify-content: center;
    background-color: $blackde;
    .noList{
        margin-top: 30%;
        font-size: 23px;
        color: grey;
    }
    .Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 10px 40px;
        width: 540px;
        height: 470px;
        background-color: white;
        overflow: hidden;
        .NotifHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 520px;
            height: 40px;
            .NotifH3 {
                display: flex;
                align-items: center;
                color: #252525e5;
                font-weight: 700;
                font-size: 35px;
                height: 80px;
                background-color: white;
                text-align: left;
            }
            .ClearBtn {
                border: none;
                background: none;
                font-size: 22px;
                color: $blue;
                font-weight: 700;
                margin-bottom: -10.5px;
            }
        }
        .ContentBlock {
            position: relative;
            width: 114%;
            display: flex;
            align-items: center;
            flex-direction: column;
            overflow-x: hidden;
            .InnerCont {
                width: 512px;
            }
        }
    }
}
