.close {
    display: none;
}

.ChangePassword {
    font-weight: 700;
    background-color: white;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 400px;
    margin: 10px;
    border-left: 2px solid var(---200, #DEDEDE);

    .block1 {
        padding-right: 80px;

        p {
            color: var(---800, #252525);
            font-size: 32px;

        }
    }

    .block2 {
        h3 {
            a {
                color: #1C6AB1;
                width: 320px;
            }
        }
    }

    button {
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        width: 320px;
        border-radius: 8px;
        background-color:  #1C6AB1;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 700;
    }
    .errorPassword{
        input{
            border: 1px solid red;
        }
    }
}