.Date{
    .panel{
        display: flex;
        font-size: 18px;
        
            .block1{
                color: #5C5C5C;
            }
            .block2{
                margin-left: 70px;
                color: black;
            }
    }
}