.Date {
    .panel {
        display: flex;
        font-size: 18px;

        .block1 {
            color: #5c5c5c;
        }
        .block2 {
            margin-left: 70px;
            color: black;
        }
    }
}
