@import "../../../app/styles/index.scss";

.Companies {
    .searchCompanies {
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
    }
    .container{
        display: flex;
        .table{
            margin: 16px 0 ;
            transition: .1s;
            border: 1px #F4F4F4 solid;
            ul {
                padding: 0;
        
                .datas{
                    display: flex;
                    div{
                        transition: .1s;
                    }
                }
            }
        }
    }
    
}
