@import "index.scss";

.Companies {
    margin-top: 20px;
    margin-right: 16px;
    .alert{
        color: rgba(113, 113, 113, 1);
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        padding-top: 100px;
    }
    .searchCompanies {
        display: flex;
        justify-content: space-between;
    }
    .managerName {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
    .Name {
        font-size: 24px;
        font-weight: 700;
    }
    .container {
        display: flex;
        .table {
            margin: 16px 0;
            transition: 0.1s;
            border: 1px #f4f4f4 solid;
            ul {
                padding: 0;
                .datas {
                    cursor: pointer;
                    display: flex;
                    div {
                        transition: 0.1s;
                    }
                }
            }
        }
    }
}
