@import "../../../app/styles/index.scss";

.Companies {
    margin-top: 20px;
    .Name {
        font-size: 24px;
        font-weight: 700;
    }
    .SearchCompanies {
        display: flex;
        gap: 1210px;
        margin-top: 8px;
    }
    .Table {
        margin-top: 20px;
        .Top {
            width: 1718px;
        }
        .Inner {
            height: 548px;
            width: 1760px;
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }
}
