@import '../../../app/styles/index.scss';

.AddButton{
    width: 56px;
    height: 56px;
    border-radius: 8px;
    margin-left: 6px;
    background-color: $blackf4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}