.SccessfullyModal{
    position: fixed;
    box-sizing: border-box;
    transition:  0.3s ;
    padding: 24px 32px;
    background-color: #D8ECFF;
    border-radius: 8px;
    z-index: 3;
    right: 50px;
    p{
        font-size: 20px;
        font-weight: 700;
        margin: 0 16px;
    }
    div{
        display: flex;
    align-items: center;
    justify-content: space-between;
    }
}